In [ ]:
import pandas as pd
import numpy as np
import re

In [213]:
df = pd.read_excel(r"C:\Users\lccam\OneDrive\Área de Trabalho\governanca\dash_gov_fea_dev\Planilha de Presença 2025.1.xlsx", sheet_name="Presença")

In [214]:
df.columns = df.columns.str.lower()

In [215]:
df = df.rename(columns={"membros ativos 2025.1":"membros_ativos","gênero":"genero","área administrativa":"area_administrativa","e-mail":"email","pontuação final":"pontuacao_final"})
df.columns = df.columns.str.replace("/", "_")

In [216]:
df.head()

,membros_ativos,genero,area_administrativa,forma de ingresso,email,02_02,09_02,16_02,23_02,02_03,...,08_06,15_06,22_06,NaN,NaN,NaN,NaN,NaN,pontuacao_final,score
0,Henrique Nogueira Pedro Lindoso,M,OPER,PS 2023,lindoso70@usp.br,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,#DIV/0!
1,Amabile Guerra Nunes,F,RH,Curso de Python 2023,amabilegn@usp.br,NaN,P,P,NaN,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1
2,Felippe Gomes Bertollo,M,GOV,Curso de Python 2023,felippegb900@outlook.com.br,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,#DIV/0!
3,Gabriel De Sousa Braz,M,GESTÃO,Curso de Python 2023,gabriel_braz@usp.br,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,#DIV/0!
4,Vitor Aratani Katayama,M,OPER,Curso de Python 2023,vakatayama@gmail.com,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,#DIV/0!

In [217]:
df = df.loc[:,df.columns.notna()]

In [218]:
df.drop("score", axis=1, inplace=True)

In [219]:
for coluna in df.columns:
    if coluna != "pontuacao_final":
        df[coluna] = df[coluna].astype(str).str.replace("nan", "0")

TypeError: map() must have at least two arguments.

In [225]:
dicionario = {df["membros_ativos"]:0}

TypeError: unhashable type: 'Series'

In [ ]:
''

{0: 'Henrique Nogueira Pedro Lindoso',
 1: 'Amabile Guerra Nunes',
 2: 'Felippe Gomes Bertollo',
 3: 'Gabriel De Sousa Braz',
 4: 'Vitor Aratani Katayama',
 5: 'Julia Babam Toledo',
 6: 'Gabriel da Silva Navarro',
 7: 'Vinicius dos Santos Pereira',
 8: 'Julia Cerqueira Vieira',
 9: 'Rafael Derrico dos Santos Abreu',
 10: 'Ygor Ron0 Miguel Reis',
 11: 'Lucas dos Santos Camargo',
 12: 'Luisa Yumi Aoki Ribas',
 13: 'Igor Pires Ferreira',
 14: 'Gabriel Finamore',
 15: 'Felipe da Silva Melo',
 16: 'Luane Miranda de Andrade',
 17: 'Lucas Tortelli de Moura',
 18: 'José Eduardo Santos Sarrico',
 19: 'Anna Yoshi Une Mesquita',
 20: 'Marcos Felipe da Silva',
 21: 'Jessica Sayuri Goya Higa',
 22: 'Lorenzo Cavalcante',
 23: 'Emmanuelita Stephene Emmanuel',
 24: 'Caio Huang',
 25: 'Felipe Hideki Komi ',
 26: 'Eduarda Sabino de Morais',
 27: 'Leonardo de Souza Teodoro',
 28: 'Maisa Lumi Sonoda',
 29: 'Thales Vieira Rodrigues',
 30: 'Alexandre Feitosa Gil',
 31: 'Luciana Wu Yongdan',
 32: 'Marcelo Fridschtein',
 33: 'Eduardo Ludgerio Barrado',
 34: 'Pedro Enrico Pumar de Brito'}

In [ ]:
dicionario = {}


for coluna in df.columns:
    if re.match(r"\d\d_\d\d", coluna):
        dicionario[membros_ativos] = coluna

,membros_ativos,genero,area_administrativa,forma de ingresso,email,02_02,09_02,16_02,23_02,02_03,...,27_04,04_05,11_05,18_05,25_05,01_06,08_06,15_06,22_06,pontuacao_final
0,Henrique Nogueira Pedro Lindoso,M,OPER,PS 2023,lindoso70@usp.br,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1,Amabile Guerra Nunes,F,RH,Curso de Python 2023,amabilegn@usp.br,0,P,P,0,P,...,0,0,0,0,0,0,0,0,0,5.0
2,Felippe Gomes Bertollo,M,GOV,Curso de Python 2023,felippegb900@outlook.com.br,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
3,Gabriel De Sousa Braz,M,GESTÃO,Curso de Python 2023,gabriel_braz@usp.br,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,Vitor Aratani Katayama,M,OPER,Curso de Python 2023,vakatayama@gmail.com,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0