In [166]:
import pandas as pd
import numpy as np
import time
import duckdb

In [167]:
df = pd.read_excel(r"C:\Users\lccam\OneDrive\Área de Trabalho\governanca\dash_gov_fea_dev\Planilha de Presença 2025.1.xlsx", sheet_name="Presença")

In [168]:
df.columns = df.columns.str.lower()

In [169]:
df = df.rename(columns={"membros ativos 2025.1":"membros_ativos","gênero":"genero","área administrativa":"area_administrativa","e-mail":"email","pontuação final":"pontuacao_final"})
df.columns = df.columns.str.replace("/", "_")

In [170]:
df.head()

,membros_ativos,genero,area_administrativa,forma de ingresso,email,02_02,09_02,16_02,23_02,02_03,...,08_06,15_06,22_06,NaN,NaN,NaN,NaN,NaN,pontuacao_final,score
0,Henrique Nogueira Pedro Lindoso,M,OPER,PS 2023,lindoso70@usp.br,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,#DIV/0!
1,Amabile Guerra Nunes,F,RH,Curso de Python 2023,amabilegn@usp.br,NaN,P,P,NaN,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1
2,Felippe Gomes Bertollo,M,GOV,Curso de Python 2023,felippegb900@outlook.com.br,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,#DIV/0!
3,Gabriel De Sousa Braz,M,GESTÃO,Curso de Python 2023,gabriel_braz@usp.br,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,#DIV/0!
4,Vitor Aratani Katayama,M,OPER,Curso de Python 2023,vakatayama@gmail.com,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,#DIV/0!

In [171]:
df = df.loc[:,df.columns.notna()]

In [172]:
df.drop("score", axis=1, inplace=True)

In [ ]:
df.head()